@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: auto;
}
:root {
  --bg--: rgb(0, 0, 0);
  --text2--: rgba(255, 255, 255, 0.712);
  --text--: rgb(254, 254, 254);
}

.light-theme {
  --bg--: #e6fbef;
  --text2--: rgba(0, 0, 0, 0.712);
  --text--: rgb(20, 20, 20);
}

body {
  background-color: var(--bg--);
  color: var(--text--);
  /* transition: background-color 2s; */
  transition: background-color 2s;
}

hr {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 47%,
    rgba(252, 176, 69, 1) 100%
  );
  border: 2px solid var(--bg--);
  height: 1.2px;
  border-radius: 10px;
}

#icon {
  background-color: var(--text--);
  height: 50px;
  position: fixed;
  top: 27px;
  width: 50px;
  right: 18px;
  border-radius: 50%;
  cursor: pointer;
}

h1 {
  font-size: 72px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sun-moon {
  position: relative;
  top: 2px;
  left: 1px;
  fill: var(--bg--);
  height: 25px;
}

.heading {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: linear-gradient(rgb(57, 57, 228), rgb(255, 0, 0));; */
  flex-direction: column;
}

.heading h1 {
  font-size: 4vw;
  font-weight: 500;
  font-family: cursive;
  text-align: center;
}

#main {
  display: flex;
  justify-content: center;
  height: 70vh;
}

.winning {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #6441a5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(42, 8, 69, 0.95),
    rgba(100, 65, 165, 0.95)
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: cursive;
}

.winning img {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 20vw;
}

#message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text--);
  font-size: 5vw;
}

#won {
  background-color: (133, 194, 251, 0);
  text-align: center;
  font-size: 10vh;
  color: white;
}

#restart {
  font-size: 3vw;
  background-color: #fff;
  cursor: pointer;
  padding: 0rem 10px;
  margin: 10px;
  border-radius: 15px;
}

#restart:hover {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 250, 250);
  cursor: pointer;
  color: white;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  width: 24vw;
  height: 24vw;
  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(3, 8vw);
}

.items {
  box-sizing: border-box;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: cursive;
  border-radius: 0px;
  border: 2px solid var(--text2--);
}

.items:nth-child(1),
.items:nth-child(2),
.items:nth-child(3) {
  border-top: none;
}

.items:nth-child(4),
.items:nth-child(7),
.items:nth-child(1) {
  border-left: none;
}

.items:nth-child(3),
.items:nth-child(6),
.items:nth-child(9) {
  border-right: none;
}

.items:nth-child(7),
.items:nth-child(8),
.items:nth-child(9) {
  border-bottom: none;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  flex-direction: column;
  height: 30px;
  position: absolute;
  bottom: 0px;
}
@media (max-width: 500px) {
  .heading h1 {
    font-size: 10vw;
  }
  .container {
    width: 100%;
    height: 100%;
    justify-content: center;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
  }
  #icon {
    height: 40px;
    width: 40px;
  }
  #main {
    /* height: 60vh; */
    padding-top: 30px;
  }
  .items {
    font-size: 15vw;
  }
  #restart {
    font-size: 10vw;
  }
}
